*{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
background-color: rgb(190, 217, 217);
}

.main-box{
    margin: auto;
    display: block;
    margin: 5% 10%;
}


.content{
    display: flex;
    border: 5px solid ;
    border-color: rgb(63, 60, 60);
    border-radius: 20px;
   
    
  
    
    
}

.bio{
    border-radius: 20px;
    margin: 0 10px;
}

h1{
    text-align: center;
    margin: auto;
    display: block;
    font: bold;
    margin-top: 10px;
    color:rgb(45, 38, 38) ;
  

}

p{
    width: 100%;
    justify-content: right;
    
}


.card{
   width: 90%;
   justify-content:center;
   display: block;
   margin: auto;
   padding: 5px;
   border-radius: 20px;
}



img{
    height: 200px;
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 20px;
   
}

footer{
    text-align: center;
}

footer a{
    text-decoration: none;
}

@media screen and (max-width: 700px) {

    .main-box{
        margin: auto;
        display: block;
        margin: 5% 5%;
    }
    

    .content{
        display: flex;
        flex-wrap: wrap;
       
       
    }
    .bio{
        width: 90%;
        border-radius: 20px;
        display: block;
        margin: auto;
    }
    
    
    .card{
        width: 100%;
        justify-content:center;
        display: block;
        margin: auto;
        border-radius: 20px;
     }
     
     
     
     img{
         height: 300px;
         display: block;
         margin: auto;
         width: 100%;
         border-radius: 20px;
     }
        
    
}